{% extends 'base.html.twig' %}

{% block title %}All tasks{% endblock %}

{% block body %}
    <h2>Team Tasks ✅</h2>
    <div class="main-wrapper">
        {{ include('includes/task-list.html.twig') }}        
    </div>
{% endblock %}
