{% extends 'base.html.twig' %}

{% block title %}My Tasks{% endblock %}

{% block body %}
    <h2>My tasks ✅</h2>
    <div class="main-wrapper">
        {{ include('includes/task-list.html.twig') }}
    </div>
{% endblock %}
