@font-face {
font-family: cinzelbold;
src: url(../fonts/cinzelbold.ttf);
}
@font-face {
font-family: cinzelregular;
src: url(../fonts/cinzelregular.ttf);
}
@font-face {
font-family: frederick;
src: url(../fonts/frederick.ttf);
}
@font-face {
font-family: grupporegular;
src: url(../fonts/grupporegular.ttf);
}
@font-face {
font-family: racingsansoneregular;
src: url(../fonts/racingsansoneregular.ttf);
}
@font-face {
font-family: shadowsIntolighttworegular;
src: url(../fonts/shadowsIntolighttworegular.ttf);
}

body{
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/*General*/
h1, h3, h2, label{
    text-shadow: 3px 3px 5px black;
}

h2{
    font-family: grupporegular;
}

.clearfix{
    float: none;
    clear: both;
}

.main-wrapper{ 
    max-width: 90%; 
    width: 95%; 
    height: fit-content;
    max-height: 60vh;
    margin: 1em auto;
    margin-bottom: 70px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    font-family: grupporegular;
    font: 18px/1.5 sans-serif;
}
    
.main-wrapper code{ 
    background: #F5F5F5; 
    padding: 2px 6px; 
    border: 1px solid red;
}

.task-wrapper, .login-wrapper{
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    font-family: grupporegular;
}

.task-background{
    width: 80%;
    margin: 20px auto 70px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    font-family: grupporegular;
}

/*Warnings*/
.textWarn{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px white;
    padding: 2px 5px;
    background: rgb(255, 0, 0, .3);
    border-radius: 5px;
    border: 1px solid red;
}

.alert-error{
    width: fit-content;
    color: red;
    font-size: 20px;
    padding: 5px 10px;
    margin: 0px auto;
    background: rgba(0,0,0,.8);
    border-radius: 10px;
}

.comp{
    width: 130px;
}

.data-task{
    color: white;
}

/*ScrollBar*/
::-webkit-scrollbar-corner {
    border-radius: 2px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #2c2b2b;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: #990202;
    border-radius: 20px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    width: 10px;
    background: red;
    border-radius: 20px;
}

/*Responsive*/
@media screen and (max-width: 700px){
    
    #menu{
        display: flex;
        flex-direction: column !important; 
        white-space: wrap;
    }

    #menu li{
        display: block;
        float: none;
    }

    .task-wrapper, .login-wrapper{
        width: 90%;
        padding: 5px;
        box-sizing: content-box;
    }

    .desctask, .commenttask{
        min-width: 200px;
        width: 100% !important;
    }

    #footer{
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #footer p{
        margin-left: 5px;
        margin-right: 0px;
    }
}