@font-face {
font-family: cinzelbold;
src: url(../fonts/cinzelbold.ttf);
}
@font-face {
font-family: cinzelregular;
src: url(../fonts/cinzelregular.ttf);
}
@font-face {
font-family: frederick;
src: url(../fonts/frederick.ttf);
}
@font-face {
font-family: grupporegular;
src: url(../fonts/grupporegular.ttf);
}
@font-face {
font-family: racingsansoneregular;
src: url(../fonts/racingsansoneregular.ttf);
}
@font-face {
font-family: shadowsIntolighttworegular;
src: url(../fonts/shadowsIntolighttworegular.ttf);
}

body{
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h1, h3, h2, label{
    text-shadow: 3px 3px 5px black;
}
h2{
    font-family: grupporegular;
}

.clearfix{
    float: none;
    clear: both;
}

.example-wrapper{ 
    margin: 1em auto; 
    max-width: 90%; 
    width: 95%; 
    font: 18px/1.5 sans-serif;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    font-family: grupporegular;
    height: fit-content;
    max-height: 60vh;
    
}
    
.example-wrapper code{ 
    background: #F5F5F5; 
    padding: 2px 6px; 
    border: 1px solid red;
    
}

.task-wrapper, .login-wrapper{
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    /*background: rgba(0, 0, 0, 0.8);*/
    font-family: grupporegular;
    padding: 10px;

}

.task-background{
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    font-family: grupporegular;
    padding: 10px;
}

#header{
    width: 95%;
    font: 18px/1.5 sans-serif;
    font-family: grupporegular;
    font-weight: bolder;
    margin: 0px auto;
}

#menu{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.8);
    margin: 0px auto;
    padding: 0px;
    list-style: none;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    justify-content: center;
    
}

#menu li{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: all 500ms;
    font-family: grupporegular;
}


#menu a{
    display: block;
    text-decoration: none;
    transition: all 500ms;
    
    font-weight: bolder;
    color: white;
}

#menu li:hover{
    border-radius: 5px;
    background: rgba(116, 0, 0, 0.6);
}

#menu li:hover a{
    color: white;
}

label{
    display: block;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select{
    width: 70%;
    padding: 8px; 
    border-radius: 5px;
}
/*
button,
input[type="submit"]{
    padding: 8px;
    margin-top: 15px;
    background: linear-gradient(270deg, rgba(240,3,3,1) 0%, rgba(249,150,0,1) 49%, rgba(255,200,0,1) 100%);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 1000ms;
}

button:hover,
input[type="submit"]:hover{
   background: linear-gradient(94deg, rgba(240,3,3,1) 0%, rgba(249,150,0,1) 49%, rgba(255,200,0,1) 100%);

}*/

table{
    width: 100%;
    margin: auto;
    
}

table th{
    background: rgba(179, 0, 0, 0.6);
    text-shadow: 3px 3px 3px black !important;
}
.thsize{
    width: 110px;
}

.thsizelarge{
    width: 200px;
}



.thsizexlarge{
    width: 200px;
    display: flex;
    flex-direction: column;
}
table th,
table td{
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-family: grupporegular;
    font-weight: bolder;
    font-size: 15px;
    text-shadow: 5px 5px 5px;
}

table td{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: grupporegular;
    
}



.buttons a{
    text-decoration: none;
    border: none;
    padding: 3px 10px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}



.buttons .btn-show{
    width: 50%;
    background: rgba(145, 0, 259, 0.449);
    border: 1px solid rgb(130, 26, 208);
    text-shadow: 0px 0px 0px white;
    color: rgb(255, 255, 255);
    padding-bottom: 6px;
}
.buttons .btn-show:hover{
    border: 2px solid rgb(130, 26, 208);
    text-shadow: 3px 3px 5px white;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}


.buttons .btn-edit, .btneditcomment, .btn-edit .comment, button,
input[type="submit"]{
    width: fit-content;
    background: rgba(252, 143, 0, 0.356);
    border: 1px solid rgb(141, 103, 0) !important;
    text-shadow: 0px 0px 0px white;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 6px;
}
button, input[type="submit"]{
    padding: 5px 10px!important;
    border-radius: 5px;
    margin-top: 15px;
}
.buttons .btn-edit:hover, .btneditcomment:hover, .btn-edit .comment:hover, button:hover,
input[type="submit"]:hover{
    border: 2px solid rgb(141, 103, 0) !important;
    text-shadow: 3px 3px 5px white;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}


.buttons .btn-delete{
    width: 50%;
    background: rgba(199, 0, 0, 0.356);
    border: 1px solid rgb(248, 0, 0);
    text-shadow: 0px 0px 0px white;
    color: rgb(255, 255, 255);
    padding-bottom: 6px;
}
.buttons .btn-delete:hover{
    border: 2px solid rgb(248, 0, 0);
    text-shadow: 3px 3px 5px white;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.btneditcomment{
    margin-top: 15px;
}
.textWarn{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px white;
    padding: 2px 5px;
    background: rgb(255, 0, 0, .3);
    border-radius: 5px;
    border: 1px solid red;
}

.comp{
    width: 130px;
}

.data-task{
    color: white;
}



#comment_comment{
    width: 90%;
    height: 100px;
    text-align: justify;
    justify-content: center;
}


.commentsec{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
    
    
}

#task, #register, #loginform{
    min-width: 300px;
    width: 70%;
    max-width: 500px;
    margin: auto;
    text-align: left;
    justify-content: center;
    margin-bottom: 30px;
}
form{
    background: rgba(0,0,0,.8);
    padding: 30px 0;
    border-radius: 10px;
    padding-left: 15px;
}

.commenttask, .desctask{
    min-width: 500px;
    width: 60%;
    background: rgba(252, 143, 0, 0.356);
    border-radius: 10px;
    margin: 10px auto;
    padding-top: 3px;
    padding-bottom: 20px;
    border: 3px solid rgb(141, 103, 0);
    padding: 0px 10px 20px;
    box-sizing: border-box;
}

#footer{
    height: fit-content !important;
    width: 100%;
    position: fixed;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background: rgba(0,0,0,.9);
    text-align: right;
    padding-right: 20px;
    bottom: 0px;
    
}

#footer p{
    margin-right: 20px;
    font-family: grupporegular;
    margin-top: 5px;
    margin-bottom: 5px;
}
#footer p a{
    color:#1381ef;
    text-decoration: none;
    font-weight: bolder;
    font-family: grupporegular;
}

::-webkit-scrollbar-corner {
  border-radius: 2px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #2c2b2b;
}

::-webkit-scrollbar-thumb {
  background: #990202;
  border-radius: 20px;
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: red;
  border-radius: 20px;
  width: 10px;
}

@media screen and (max-width: 700px){
    
    
    
    #menu{
        display: flex;
        flex-direction: column !important; 
        white-space: wrap;
    
    }

    #menu li{
        display: block;
        float: none;
    }

    

    

    .task-wrapper, .login-wrapper{
        width: 90%;
        padding: 5px;
        box-sizing: content-box;
    
    }
    .desctask, .commenttask{
        min-width: 200px;
        width: 100% !important;
    }
}