{% extends 'base.html.twig' %}

{% block title %}User Registration{% endblock %}

{% block body %}


<div class="login-wrapper">
    <h2>User Registration</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }} 
    {{ form_end(form) }}
</div>
{% endblock %}
